@charset "utf-8";
/* CSS Document */

/*========================= GENERAL  CSS ======================== */

/*Font Sizes*/
h1 {font-size: 48px;}
h2 {font-size: 36px;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}
h6-2 {font-size: 12px;}

body { background-color:#f6f6f6; 
	   font-family: 'Open Sans', sans-serif;
	   margin-bottom:0px;
	   color:#7e7e7e;}
	   
/* icon css */
.space-right { margin-right:10px;}
.space-left { margin-left:10px;}


/*nav css start*/

.navbar-master { background-color: #f6f6f6;
				 min-height: 110px;
				}

.navbar-master .navbar-brand { padding: 14px 0px 0px;}

.navbar-master .menu { margin-left: 60px;}

.navbar-master .menu > li > a { font-size: 16px;
								color: #6a6a69;
								text-transform: uppercase;
							    padding: 0px 0px 5px ;
								margin: 45px 15px 0px 0px;
							  }

.navbar-master .navbar-nav > .active > a, .navbar-master .navbar-nav > .active > a:hover, .navbar-master .navbar-nav > .active > a:focus { background-color: transparent;  		                                                  border-bottom: 5px solid #3dc3b7;
												  font-weight:500;	
												}
												 
.navbar-master .menu > li > a:hover { border-bottom: 5px solid #3dc3b7;}

.navbar-master .navbar-nav > li > a.active, .navbar-master .navbar-nav > li > a:hover, .navbar-master .navbar-nav > li > a:focus { background-color: transparent;} 

.navbar-master .contact { margin: 18px 0px 0px;}

.contact > li { float: none; }

.navbar-master .contact > li > a { margin: 0px; 
								   font-size: 16px;
								   color: #3dc3b7;
								   padding: 0px 0px 8px;
								  }
								  
.navbar-master .contact > li > a:hover { color: #3dc3b7;}
								
/*jumbotron css start*/

.jumbotron { background-color: #3dc3b7;
			  color:#fff;
			  padding-top: 70px;
			  border-bottom: 0px;
			  margin-bottom: 0px;
			  clear: both;
			}

.jumbotron img { margin: 0px auto;}

.jumbotron h1, .jumbotron h2 { font-weight:normal;
							   text-align:center;
							  } 

.jumbotron h1 { font-size: 48px;
				color:#fff;
				margin: 10px 0px;
			   }
			   
.jumbotron h2 { margin: 35px 0px 0px;
		      }
			  
.jumbotron p { font-size: 24px;
			   margin-bottom:0px;
			   font-weight:200;
			  }


/*section css start*/

.bottomBorder > img { height: 21px;
                      width: 100%;}
					  


/*about us css start*/

.mainContent {border-bottom:3px solid #3dc3b7;}

.about {margin-bottom: 7%;
		}

.aboutUs {position: relative;
		  overflow: hidden;
		  margin-top: 5%; }

.aboutUs > p {position: absolute;
			   top: 16%;
			   left: 18%;
			   font-weight: 100;
			   color: #fff;
			   font-size: 48px;
			   }
			   
.aboutUs > div {font-size: 25px;
			    color: #3dc3b7;
			    margin-top: 10% ; 
			    }
			  
.activity { margin-top: 8%;}

.activity h4 > span {color: #3cc3b7;
					 font-weight: normal;
					 }
					   
.activity p {font-size: 14px;}

.activity p > strong {color: #3dc3b7;}

.activity  .enquire {background-color: #3cc3b7;
			        color: #fff;
			        border-radius: 5px;
			        padding: 5px 18px;
			        }
			  
.activity .enquire:hover {background-color: #3cc3b7;
					     color: #fff;
					     }
			  
.activity a > span {position: relative;
					  bottom: 3px;
					 }	

/*recommendations css start*/
	
.recommendations {margin:5% 0%;}

.recommendations .brush {margin:0 auto;
						 }

.recommendations > h4{font-weight:700;
					  color: #575756;
					  margin-bottom:25px;
					  }

/*================================
    TESTIMONIAL STYLES
    ============================  */

.carousel-inner {background:none;}

.testimonial-section {
    width: 100%;
    height: auto;
    padding: 15px;
    position: relative;
    border-top: 2px solid #3cc3b7;
	border-right: 1px solid #a0a0a0;
	border-bottom: 1px solid #a0a0a0;
    font-size:12px;
	background:#FFF;
}
.testimonial-section:after {
    top: 99%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #fff;
    border-width: 15px;
    margin-left: -15px;
	-webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

.testimonial-section > p {font-size: 16px;
						  color: #3cc3b7;
						  }


   
.carousel-indicators-set {
    position:static;
    margin-left:0px;
	padding-top: 20px;
    width:100%;
}

.carousel-indicators .active {background:#3cc3b7;}

.carousel-indicators > li { background:#f6f6f6;
							border:1px solid #dadada;
						  }
						  
.carousel-indicators > a {font-size:14px;
						  color:#3cc3b7;
						  }
						  
.carousel-indicators > a:hover {text-decoration: none;}


/*quote Request  css start*/

.quoteRequest{ background-color:#755b69;
			   padding: 52px 0px;
			   color:#fff;
			   font-weight:100;
			  }
			  
.quote{font-size:36px;}

.offer {font-size:24px;
        margin-bottom:3%;
		}
		
.form-control { border-radius: 4px;
				height: 40px;
			   }
			   
.round-button { background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                border: 1px solid #fff;
                border-radius: 25px;
	            margin-left: 3%;
                margin-top: 6%;
                padding: 7px 0px;
                width: 42%;
	            -webkit-border-radius: 25px;
                -moz-border-radius: 25px;}
				
.round-button:hover{color: #fff;}


/*footer css start*/

footer {background-color: #607d8b;
		color: #fff;
		padding-top: 4%;
		}

footer .getInTouch {font-size: 36px;
					margin-bottom: 5%;
				    }

footer .location img { margin: 0 auto 6%;}

.location p { margin-bottom: 3px;
			  font-size: 16px;
			  letter-spacing: 1px;
				    }
					
footer .nav-pills {margin-top: 4%;}
					
.nav-pills li a {color: #fff;
				 font-size: 14px;
				 font-weight: 600;
				 padding: 8px;
				}
				
.nav-pills li a span { margin-left: 15px;}
				
.nav-pills li .active { padding-left: 0px;}

.nav-pills li a:hover { background-color: #607d8b;}

footer .copyright { color: #3cc3b7;
				    font-size: 14px;
				  }
				   
footer .wkpweb { margin-left: 3px;}	

footer .paywith { margin-top: 10%;}	

footer .spectrumPaywith{color: #3cc3b7;
					    margin-top: 11%;
						}

.top {background-color: #fff;
	  padding: 0px 12px 17px;	 
	  margin-top: 50%;
	  position:relative;
	  }	
	  			  
.top-page {margin-bottom: 0px;
		   }
		   
.top-page i, .top-page i:hover, .top-page i:focus, .top-page i:visited {color: #3cc3b7;}

.top-text {left: 10px;
           position: absolute;
           top: 20px;
		   color: #3cc3b7;}


/*style for services page*/

/*nav css start*/

.navbar-master .serviceMenu > .active > a, .navbar-master .serviceMenu > .active > a:hover, .navbar-master .serviceMenu > .active > a:focus { border-bottom: 5px solid #fd9f79;}
												 
.navbar-master .serviceMenu > li > a:hover { border-bottom: 5px solid #fd9f79;}

.navContact > li { float: none; }

.navbar-master  .navContact { margin-top: 1%;}

.navbar-master .navContact > li > a { color: #fd9f79;
									  margin: 0%;
									  padding: 2.5% 0%;
									}
									
 

.navbar-master .navContact > li > a:hover, .navbar-master .navContact > li > a:visited { color: #fd9f79;}

/*navBottom section css start*/

.navBottom > img {margin-top: 2%;}

					  
.ourServices > p {position: absolute;
			      top: 7%;
			      left: 16%;
			      font-weight: 100;
			      color: #fff;
			      font-size: 47px;
			      }
				  
.ourServices > div {font-size: 27px;
			        color: #fd9f79;
				    margin-bottom: 12%;
				    margin-top: 10%; 
			       }
					  
.about .photoMirror {margin-top: 10%;
				     }

.servicesActivity {line-height: 1.3;
				   margin-top: 5%;
				  }

.servicesActivity .serviceText {font-size: 22px;}

.servicesActivity p {font-size: 17px;}

.servicesActivity  .enquire {background-color: #fd9f79;
			                 color: #fff;
			                 border-radius: 5px;
			                 padding: 5px 18px;
			                 }
							 
.servicesActivity .enquire:hover {background-color: #fd9f79;
					              color: #fff;
					              }
			  
.servicesActivity a > span {position: relative;
					        bottom: 3px;
					        }
							
.services {margin-bottom: 7%;
           margin-top: 2%;
          }

.sectors {margin-left: 0px;}

.sectors > p {font-size: 24px;
			  color: #fd9f79;
			 }
			 
.sectors ul {margin-left: 0px;}
			 
.sectors ul > li {list-style-type:none;
				  font-size: 17px;
				  line-height: 1.8;
				  padding-left: 0px;
				  letter-spacing: -1px;}
				  
.servicesContent {border-bottom: 4px solid #fd9f79;}

.customerRecommend {margin:5% 0%;}

.customerRecommend .brush {margin:0 auto;
						 }


.customerRecommend > h3{font-weight:700;
					    margin-bottom:25px;
					    }
						
.customerRecommend .serviceRecomand{border-top: 2px solid #fd9f79;}
						
.customerRecommend .serviceRecomand > p {color: #fd9f79; }
				 
.testimonialIndicators .active {background:#fd9f79;}

.testimonialIndicators > a {font-size:14px;
						    color:#fd9f79;
						   }
						   
footer .copyrightService {color: #fd9f79;
						  font-size: 16px;
						 }
						 
footer .servPaywith {margin-top: 11%;
					 color: #fd9f79;
					 }
					 
.servTop {background-color: #fff;
		  padding: 0px 12px 17px;
          position:relative;
		  margin-top: 52%;
		  }
				  
.servTop-page i {color: #fd9f79;} 
				  
.servTop-page > i:hover, .servTop-page > i:focus, .servTop-page > i:visited {color: #fd9f79;}
		   
.servTop-text {left: 10px;
               position: absolute;
               top: 20px;
		       color: #fd9f79;}
			   
 /*style for Portfolio page*/ 
 			   
.navbar-master .portfolioMenu > .active > a, .navbar-master .portfolioMenu > .active > a:hover, .navbar-master .portfolioMenu > .active > a:focus 
                                              { border-bottom: 5px solid #fdc006;}
												 
.navbar-master .portfolioMenu > li > a:hover { border-bottom: 5px solid #fdc006;}

.portfolioContact > li { float: none; }

.navbar-master .portfolioContact > li > a {margin-top: 0%; }

.navbar-master .portfolioContact > li > a > i { color: #fdc006;}

.ourPortfolio > p { color: #fff;
    				font-size: 47px;
   				    font-weight: 100;
                    left: 16%;
                    position: absolute;
                    top: 17%;
                   }

.ourPortfolio > .portfolioText {font-size: 27px;
			                    color: #fdc006;
				                margin-bottom: 12%;
				                margin-top: 10%; }	
									
.portfolioEnquire .enquire { background-color: #fdc006;
                             color: #fff;
                             padding: 5px 18px;
							 border: 0px none;
                            }
							
.portfolioEnquire .enquire:hover, .portfolioEnquire .enquire:focus .portfolioEnquire .enquire:active { background-color: #fdc006;
				  border: 0px none;
				}
				
.portfoliobtn, .enquirebtn{ margin-left: 0px;}

.portfolio{border-bottom: 0px;}



/*Slider css goes here*/

.slider { margin-top:50px;}
.swiper-container{width:100%;height:auto;margin-left:auto;margin-right:auto;}
.swiper-slide{text-align:center;font-size:18px;background:#fff;height:136px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center; cursor:pointer;}

.swiper-slide img {}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {left: 0;}
.swiper-button-next, .swiper-button-prev { background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
    height: 18px;
	color:#000;
	right:0px;
    margin-top: -22px;
    position: absolute;
    top: 53%;
    width: 27px;
    z-index: 10;}
  .bg-color {background: white none repeat scroll 0 0;
    display: block;
    height: 53px;
    opacity: 0.5;
    position: relative;
    top: -80%;}
.overlay { width:230px; height:136px; top:0; position:absolute; z-index:20; display:none;transition: background-color 0.5s ease; right:0;}
.swiper-slide:hover .overlay { background:#c6c6c6; width:228px; height:136px; top:0; position:absolute; z-index:20; display:block;}
.expand img {border: 1px solid white; border-radius: 10%;margin-top: 25%; color:#FFF;}
.mobile-text { display:none;}
		   
.slider{border-bottom: 3px solid #fdc006;
		padding-bottom: 8%;
		}			   
		
/*Slider css end*/

.typeOfWork {margin: 10% 0% 6%;}

.typeOfWork > img {margin: 0 auto 3%;}

.typeOfWork > h3 {margin-bottom: 4%;}

.typeOfWork .testimonial-section { border-top: 2px solid #fdc006;}

.typeOfWork .testimonial-section p { color: #fdc006; }

.typeOfWork .carousel-indicators .active {background:#fdc006;}

.typeOfWork .carousel-indicators > a { color:#fdc006;
						              }
									  
footer .portfolioCopyright{ color:#fdc006;}

footer .portfolioPaywith { color:#fdc006;
				           margin-top: 10%;
                         }
						 
.portfolio-text { color: #fdc006;
                  left: 10px;
   				  position: absolute;
    			  top: 20px;}
	
.portfolioTop-page i, .portfolioTop-page i:hover { color: #fdc006;}
					



 /*style for Testimonial page*/               

.navbar-master .testimonialMenu > .active > a, .navbar-master .testimonialMenu > .active > a:hover, .navbar-master .testimonialMenu > .active > a:focus 
                                              { border-bottom: 5px solid #8dbe4f;}
												 
.navbar-master .testimonialMenu > li > a:hover { border-bottom: 5px solid #8dbe4f;}

.testimonialContact > li { float: none; }

.navbar-master .testimonialContact > li > a {margin-top: 0%; }

.navbar-master .testimonialContact > li > a > i { color: #8dbe4f;}


.navbar-master .testimonialContact > li > a > span, .navbar-master .testimonialContact > li > a > span:hover, .navbar-master .testimonialContact > li > a > span:visited { color: #7e7e7e;}

.ourTestimonials > p {position: absolute;
			          top: 13%;
			          left: 16%;
			          font-weight: 100;
			          color: #fff;
			          font-size: 47px;
			          }

.ourTestimonials > .testimonialText {font-size: 27px;
			                         color: #8dbe4f;
				                      margin-bottom: 12%;
				                       margin-top: 10%; }
						   
.testimonialEnquire, .testimonialEnquire a {margin-left: 0px;}

.testimonialsText  .enquire {background-color: #8dbe4f;
			                 color: #fff;
			                 padding: 5px 18px;
			                 }
							 
.testimonialsText .enquire:hover {background-color: #8dbe4f;
					              color: #fff;
					              }
			  
.testimonialsText a > span {position: relative;
					        bottom: 3px;
					        }
							
.testimonialContent {border-bottom: 3px solid #8dbe4f;}

.customerRecommend .seeMore > a > strong, .customerRecommend .seeMore i {
														color: #8dbe4f;
														font-size: 16px;
														}
														
.customerRecommend blockquote { width: 100%;
   							    height: 200px;
                                padding: 15px;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                border-radius: 5px;
                                position: relative;
                                border-top: 2px solid #8dbe4f;
	                            border-right: 1px solid #a0a0a0;
	                            border-bottom: 1px solid #a0a0a0;
                                font-size:20px;
	                            background:#FFF;
								color: #8dbe4f;
								margin-bottom: 10%;
								border-left:0px;}
	
.customerRecommend blockquote:after {top: 99%;
                                     left: 10%;
                                     border: solid transparent;
                                     content: " ";
                                     position: absolute;
                                     border-top-color: #fff;
                                     border-width: 15px;
                                     margin-left: -15px;
									 -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
      filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));	
                                     }
									 
footer .testimonialCopyright {color: #8dbe4f;
							  font-size: 14px;
							  }
							  
footer .testimonialPaywith {color: #8dbe4f;
						    margin-top: 11%;
						    }
				
.testimonialTop {background-color: #fff;
		          padding: 0px 12px 17px;
                  position:relative;
		          margin-top: 76%;
		         }
				  
.testimonialTop-page i, .testimonialTop-page i:hover {color: #8dbe4f;} 
				  
.testimonialTop-page > i:hover, .servTop-page > i:focus, .servTop-page > i:visited {color: ##8dbe4f;}
		   
.testimonialTop-text {left: 10px;
               position: absolute;
               top: 20px;
		       color: #8dbe4f;}
																												

/* ==========================================================================
   Custome Responsive styles.
   ========================================================================== */

@media (min-width: 360px) and (max-width: 640px){
.mobile-text { color: #666;
			   display: block !important;
			   font-size: 20px;
			   position: absolute;
			   right: 14%;
			   top: 11%; 
			   text-transform:uppercase;
			   }

.topNav {padding: 0px;}
	
.navbar-master .navbar-brand { padding: 29px 0 0 10px;
							  }
							  
.navbar-master .navbar-toggle { margin-top: 38px;
								background-color: #f6f6f6;
							  }
							  
.navbar-master .navbar-toggle:hover { background-color: #f6f6f6;}

.navbar-master .navbar-toggle:focus { background-color: #f6f6f6;}	
							  
.navbar-master .navbar-toggle .icon-bar {background-color:#3cc3b7;}

.navbar-master .smDevice { background-color: #fff;
						   padding:25px 0px 20px 20px;						   
						 }
						 
.navbar-master .smDevice p { font-size: 48px;
							 color:#5d5d5c;
							}
							
.navbar-master .smDevice li a{font-size: 18px;}

.navbar-master .menu > li > a {margin: 20px 0px 0px 0px;}

.navbar-master .navbar-nav > .active > a, .navbar-master .navbar-nav > .active > a:hover, .navbar-master .navbar-nav > .active > a:focus {border: 0px;}

.navbar-master .menu > li > a:hover {border: 0px;}

.jumbotron {margin-top: 90%;
			}
			
.jumbotron h2 { margin-top: 12%;
				font-size: 30px;
              }
			
.jumbotron h1 { font-size: 32px;
				margin-bottom: 5%;
			  }

.jumbotron p { display: inline;
			   font-size: 19px;
			  }
			  
.bottomBorder > img { height: 15px;}

.aboutUs { margin-top: 15px;
	     }
		 
.aboutUs img {padding: 0px 10px;}

			
.aboutUs > p { font-size: 30px;
              left: 20%;
			  top: 15%;}
			  
.aboutUs > div { font-size: 22px;}
			   
.activity { padding: 35px 0 0 36px;
          }
		  
.activity > h4 > span { color: #565655;
						font-weight:700;
					   }
					   
.activity > h4 { font-size: 18px;
                 padding: 0 18px 0px 0px;
                 word-spacing: 2px;}
				 
.activity > p { font-size: 16px;
                margin: 20px 8px 0px 0px;}
					  
.textHidden > a strong{ font-size:16px;
					    color:#3cc3b7;
						margin-bottom: 20px;
					   }
								 
.textHidden a > i{color: #3cc3b7; }

.textHidden a:hover, .textHidden a:visited { color: #3cc3b7;
					                         text-decoration:none;
				                          }								 
						  
.activity .textHidden > a:hover {text-decoration: none;}

.mainContent { border-bottom: 5px solid #3dc3b7;}

.recommendations > .brush {margin: 30px 0px 25px 155px;
						 }
						 
.recommendations h4 { font-size: 24px;}

.quoteRequest .text{ font-size: 20px;
					 margin-bottom:5px;
					}
					
.round-button {width: 35%;}

.offer {margin:0px;}

.quoteRequest form { padding-top: 20px;}

.quoteRequest form label {font-size:14px;}

footer .location img { margin: 0px 0px 18px 150px;}

address{ margin: 0px 0px 50px 0px;}

.location p { margin: 0px 0px 10px 70px;}

.location .mail { margin-left: 40px;}

.location .phone {margin-bottom: 25%;
                  margin-right: 22%;
                 }

.footerMenu {margin-top: 15%;}

.nav-pills { margin-bottom: 30px;}

.nav-pills li {display: block;
			   float:none;
			  }
			  
.nav-pills li a { padding: 0px;}


footer .paywith { margin-top: 30px;}

footer .spectrumPaywith { color: #3cc3b7;
                          margin-top: 16%;
                         }

.top {margin-top: 18%;}	


/*sevices page style*/

.navbar-master .servicesNav .icon-bar { background-color:#fd9f79;}

.contactmenu li i { color: #fd9f79;}

.servicesBorder { margin-top: 94%;}

.services { margin-bottom: 7%;
            margin-top: 10%;
          }
		  
.ourServices > p { font-size: 35px;
				   top: 40%;}
				   
.servicesActivity .serviceText {font-size: 24px;
							    margin-top: 8%;
								color: #fd9f79;
                               }
							   

.servicesActivity .serviceText2 {font-size: 24px;
							     margin-top: 7%;
                                }

.servicesActivity p { font-size: 20px;}

.servTextHidden a > strong, .servTextHidden a > i{color: #fd9f79; }

.servTextHidden a > strong, .servTextHidden a:hover{color: #fd9f79;
												text-decoration:none;
											    }
footer .servPaywith {margin-top: 17%;}
												
.servicesContent {border-bottom: 3px solid #fd9f79; }

.testimonial { border-top: 2px solid #fd9f79;}

/*style for portfolio page*/

.navbar-master .portfolioNav .icon-bar { background-color: #fdc006;}

.navbar-master .portfolioContactmenu li a i { color: #fdc006;}

.ourPortfolio > p { top: 13%;}

.portfolioEnquire .serviceText { color: #7e7e7e;}

.portfolioEnquire .serviceText2 { font-size: 19px;}

footer .portfolioPaywith { margin-top: 16%;}



/*style for testimonial page*/

.navbar-master .testimonialNav .icon-bar {background-color: #8dbe4f;}

.testimonicontactmenu li i { color: #8dbe4f;}

.ourTestimonials > p {font-size: 36px;
                      left: 16%;  
                      top: 12%;}
					  
.ourTestimonials > .testimonialText {font-size: 22px;}

.testimonialsText .serviceText { color:#7e7e7e;
								 font-size: 20px;
								 word-spacing:0.5em;
								 letter-spacing: 0.001em;
								 margin-top: 0%;
								}

.testimonialsText .serviceText2, .testimonialsText .serviceText3 { 
                                                       color:#7e7e7e;
								                       font-size: 16px;
								                       word-spacing:0.5em;
								                       letter-spacing: 0.001em; 
													   margin-top: 0%;
								                       }
													   
.customerRecommend blockquote > p {font-size: 18px;}

.footerMenu .p {margin-bottom: 0px;}

footer .testimonialPaywith {color: #8dbe4f;
							margin-top: 17%;
							}

.footerMenu .testimonialCopyright {margin-bottom: 0px;}

.testimonialTop {color: #8dbe4f;}

.testimonialTop i, .testimonialTop i:hover { color: #8dbe4f;}



}
@media (min-width: 768px) and (max-width: 1024px){
	
.navbar-master .menu { margin-left: 30px;}

.navbar-master .menu li a {font-size: 13px;
						   margin-right: 10px;
						   }
						   
.navbar-master .navbar-nav > .active > a, .navbar-master .navbar-nav > .active > a:hover, .navbar-master .navbar-nav > .active > a:focus {border-bottom: 3px solid #3dc3b7;}
						   
.navbar-master .menu li a:hover{border-bottom: 3px solid #3dc3b7;}

.navbar-master .contact > li > a {font-size: 13px;}

.aboutUs > p {left: 65px;
			  top: 45px;
			  font-size:37px;
			  }
			  
.aboutUs > div {font-size: 21px;}
			  
.recommendations > .brush { margin: 20px 0 15px 220px;}

form label{ font-size: 14px;}

.nav-pills li a {font-size: 12px;}

.top { margin-top: 79%;}

/*sevices page style*/

.navbar-master .navContact > li > a {font-size: 13px;}

.navbar-master .serviceMenu > .active > a, .navbar-master .serviceMenu > .active > a:hover, .navbar-master .serviceMenu > .active > a:focus {border-bottom: 3px solid #fd9f79;}

.navbar-master .menu li a:hover{border-bottom: 3px solid #fd9f79;}

.ourServices > p {left: 65px;
			      top: 45px;
			      font-size:37px;
			      }
				  
.ourServices > div {font-size: 21px;}

.servTop {margin-top: 85%;}

.servicesContent {padding-bottom: 5%;}


/*portfolio page style*/

.navbar-master .portfolioMenu > .active > a, .navbar-master .portfolioMenu > .active > a:hover, .navbar-master .portfolioMenu > .active > a:focus 
                                              { border-bottom: 5px solid #fdc006;}
												 
.navbar-master .portfolioMenu > li > a:hover { border-bottom: 5px solid #fdc006;}

.navbar-master .portfolioMenu {margin-left: 3%;}

.navbar-master .portfolioContact  li a span { font-size: 14px;}

.ourPortfolio > p { top: 13%;}

.ourPortfolio > .portfolioText { font-size: 24px;}

.services { margin-bottom: 0%;}

/*testimonial page style*/

.navbar-master .testimonialMenu > .active > a, .navbar-master .testimonialMenu > .active > a:hover, .navbar-master .testimonialMenu > .active > a:focus {border-bottom: 3px solid #8dbe4f;}

.navbar-master .testimonialMenu li a:hover{border-bottom: 3px solid #8dbe4f;}

.navbar-master .testimonialMenu { margin-left: 27px; } 

.navbar-master .testimonialContact li a { font-size: 14px;
										  padding: 10px 2px 0px;
										 }
										 
.ourTestimonials > .testimonialText { font-size: 21px;}

.ourTestimonials > p{ font-size: 42px;
					   top: 11%;
					 }
					 
.customerRecommend blockquote { color: #8dbe4f;
                                font-size: 18px;
                               }
							   
.location p {font-size: 12px;
   			 margin-bottom: 3px;
             }
			 

}